<ion-header>
  <ion-toolbar>
    <ion-title>Все "To Do"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @if (stateService.toDoList$().length) {
      @for (toDoItem of stateService.toDoList$(); track toDoItem.id){
        <app-to-do-item
          [toDoItem]="toDoItem"
          (delete)="onDelete($event)"
        />
      }
    } @else if (!stateService.toDoList$().length && !toDoPageService.isLoading$()) {
      <ion-label class="no-data-message">Нет "ToDo"</ion-label>
    }
  </ion-list>

  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content />
  </ion-refresher>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
